@font-face {
  font-family: Moderne Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
}
html{
  min-height: 100vh;
  min-width: 100vw;
  /*hides the overflow on the right*/
  overflow-x: hidden;
}

.oops {
  color: red;
}
.cool {
  color: green;
}
body{
    margin:0%;
    padding: 0%;
    background: radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.9) 100%), url("../img/pexels-library.jpg");
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: inherit;
    background-position: center;
    background-size: cover;
}

header {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: inherit;
  padding-bottom: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: .4s;
  border-bottom: solid 1px #fff;
  overflow: hidden;
}

header:hover {
  background: rgba(255,255,255,0.5);
  color: #000;
  transition: 0.25s ease-in-out;
  border-bottom: solid 1px #000;
}


h1 {
  font-family: Moderne Sans, sans-serif;
  text-align: center;
  font-size: 2rem;
  
  letter-spacing: .5rem;
}
nav a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav a:hover {
    color: white;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}
nav .active {
  color: #fff;
}
h2 { 
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  font-size: 8vmin;
  text-align: center;
  margin: 2rem 3rem 0;
  mix-blend-mode: overlay;
  color: #fff;
  font-weight: 100;
}

#maintext {
  color: #fff;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
  justify-content: center;
  width: 30rem;
  transition: .4s;
  

  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 25px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.75);
    transition: .4s;
    border: solid 1px #fff;
    font-size: 1rem;
  }

  p:hover {
      color: black;
      transition: 0.25s ease-in-out;
      background: rgba(255,255,255,0.5);
      border: solid 1px #000;

  }
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    border-top: solid 1px #fff;
    color: white;
    width: inherit;
    margin-bottom: 0% ;
    padding-top: 0.5rem;
    padding-bottom: 5vh;
    transition: .4s;
    overflow: hidden;
}

footer:hover {
        color: black;
      transition: 0.25s ease-in-out;
      background: rgba(255,255,255,0.5);
      border-top: solid 1px #000;
}

#inscript-main{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  margin: auto;
  height: 100vh;
;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
  justify-content: center;
  width: 30rem;

  #inscript-card{
    padding-left: 5% ;
    padding-right: 5%;
    padding-bottom: 10%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
    border: solid 1px #fff;

    input[type=text] {
      border: solid 1px #fff;
      color: #fff;
      background-color: transparent;
      width: 97%;
      padding: 1%;
      border-radius: 2.5px;
    }

    input[type=password] {
      border: solid 1px #fff;
      color: #fff;
      background-color: transparent;
      width: 97%;
      padding: 1%;
      border-radius: 2.5px;
    }

    input[type=submit] {
      border: solid 1px #000;
      border-radius: 5px;
      padding: 1%;
    }
  }
}



#livremain{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
  justify-content: center;
  width: 30rem;

  #livretext{
    padding-left: 5% ;
    padding-right: 5%;
    padding-bottom: 10%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
    border: solid 1px #fff;

        textarea {
      border: solid 1px #000;
      border-radius: 5px;
      min-height: 200px;
      max-height: 200px;
      min-width: 400px;

      
    }

  }
}